body{
background-color: hwb(216 1% 86%);
}
.menu-neversing li{
list-style: none;
}
.menu-neversing li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}
    .menu-neversing ul{
        display: flex; /* Coloca os itens lado a lado */
        justify-content: flex-end; /* Alinha os itens ao final no eixo X */
        gap: 35px; /* Espaçamento entre os itens */
        position: absolute; /* Permite posicionar no eixo Y */
        top: 15px; /* Define a posição no eixo Y (ajuste o valor conforme necessário) */
        right: 55px; /* Alinha os itens ao lado direito */
        padding: 0; /* Remove o recuo padrão */
        margin: 0; /* Remove margens padrão */
    }
.menu-neversing{
position: relative;
background-color: rgb(0, 0, 0);
height: 50px; /* Defina uma altura */
width: 100%; /* Certifique-se de que ocupa toda a largura */
}