body{
    background-color: 	#F2F4F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
  font-family: 'Poppins', sans-serif;
}
div{
    background-color: 	#ffffff;
    padding: 70px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
button{
    background-color: #3B82F6;
    color: 	#F2F4F8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #3B82F6;
    font-family: 'Poppins', sans-serif;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
  background-color: #3B82F6;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #2563EB;
  transform: scale(1.05);
  box-shadow: 0 0 10px #3B82F6;
}
