<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Cadastro | NevEdu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}" />
</head>
<body>
  <main class="cadastro-container">
    <h1>Crie sua conta NevEdu
      <br> <span>aluno</span>
    </h1>
    <form action="{{ url_for('cadastro') }}" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>

      <label for="confirmar">Confirmar Senha:</label>
      <input type="password" id="confirmar" name="confirmar" required>

      <label for="ano_escolar">Ano Escolar:</label>
      <select name="ano_escolar" id="ano_escolar" required>
        <option value="">Selecione</option>
        <option value="6º Ano">6º Ano</option>
        <option value="7º Ano">7º Ano</option>
        <option value="8º Ano">8º Ano</option>
        <option value="9º Ano">9º Ano</option>
        <option value="1º Ano EM">1º Ano EM</option>
        <option value="2º Ano EM">2º Ano EM</option>
        <option value="3º Ano EM">3º Ano EM</option>
      </select>

      <label for="inicio_escolar">Início do Ano Letivo:</label>
      <input type="date" id="inicio_escolar" name="inicio_escolar" required>
      <label for="tipo">Tipo de usuário:</label>
<select name="tipo" required>
  <option value="aluno">Aluno</option>
  <option value="professor">Professor</option>
</select>


      <button type="submit">Cadastrar</button>
    </form>
  </main>
  <main class="cadastro-container">
    <h1>Crie sua conta NevEdu <br> <span>professor</span></h1>
    <form action="{{ url_for('cadastro') }}" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>

      <label for="confirmar">Confirmar Senha:</label>
      <input type="password" id="confirmar" name="confirmar" required>
      <label for="disciplina">Disciplina:</label>
      <select name="disciplina" id="disciplina" required>
        <option value="">Selecione</option>
        <option value="Matemática">Matemática</option>
        <option value="Português">Português</option>
        <option value="Ciências">Ciências</option>
        <option value="História">História</option>
        <option value="Geografia">Geografia</option>
        <option value="Inglês">Inglês</option>
        <option value="outros">Outros</option>
      </select>
      <label for="Autorização-escolar">Autorização Escolar</label>
      <input type="file" id="autorizacao_escolar" name="autorizacao_escolar" accept=".pdf,.jpg,.jpeg,.png" required>
      <label for="tipo">Tipo de usuário:</label>
<select name="tipo" required>
  <option value="aluno">Aluno</option>
  <option value="professor">Professor</option>
</select>

      <button type="submit">Cadastrar</button>
    </form>
  </main>
</body>
</html>
