<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <meta charset="UTF-8">
    <title>NevEdu
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Botão hamburguer -->
<button id="menu-toggle" class="hamburguer-btn">☰</button>

<!-- Menu lateral -->
<nav id="side-menu" class="side-menu">
  <ul>
    <li><a href="#">Início  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-app-window-icon lucide-app-window"><rect x="2" y="4" width="20" height="16" rx="2"/><path d="M10 4v4"/><path d="M2 8h20"/><path d="M6 4v4"/></svg></a></li>
    <li><a href="#">Meus Cursos  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-land-plot-icon lucide-land-plot"><path d="m12 8 6-3-6-3v10"/><path d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"/><path d="m6.49 12.85 11.02 6.3"/><path d="M17.51 12.85 6.5 19.15"/></svg></a></li>
    <li><a href="#">Agenda  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar1-icon lucide-calendar-1"><path d="M11 14h1v4"/><path d="M16 2v4"/><path d="M3 10h18"/><path d="M8 2v4"/><rect x="3" y="4" width="18" height="18" rx="2"/></svg></a></li>
    <li><a href="#">Recomendações  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trophy-icon lucide-trophy"><path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"/><path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"/><path d="M4 22h16"/><path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"/><path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"/><path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"/></svg></a></li>
    <li><a href="#">Assistente IA  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bot-message-square-icon lucide-bot-message-square"><path d="M12 6V2H8"/><path d="m8 18-4 4V8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2Z"/><path d="M2 12h2"/><path d="M9 11v2"/><path d="M15 11v2"/><path d="M20 12h2"/></svg></a></li>
    <li><a href="#">Procurar  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg></a></li>
  </ul>
</nav>

 <div class="menu-neversing">
    <!--FUTURAMENTE COLOCAR A LOGO DA NEVERSING AQ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <ul>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="cursos.html">Cursos</a></li>
        <li><a href="comunidade.html">Comunidade</a></li>
        <li><a href="ajuda.html">Ajuda</a></li>
    </ul>
 </div>
 <button id="modo-toggle" class="modo-btn">🌙 Modo Escuro</button>

   <h1 class="nome-ini" id="nome-iniid">Olá, {{nome}}! como vai o seu dia?</h1>
   <div class="progresso-container">
   <div class="progresso">
    <a href="cursos.html">
    <div class="circle-container">
      <svg width="150" height="150">
        <defs>
          <linearGradient id="gradiente" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#00ffe1" />
            <stop offset="100%" stop-color="#00ff88" />
          </linearGradient>
        </defs>
        <circle class="bg-circle" r="65" cx="75" cy="75" />
        <circle class="progress-ring__circle" r="65" cx="75" cy="75" />
      </svg>
      <div class="progress-text" id="score-text">0%</div>
    </div>
  
    <div class="info-texto">
      <h2>Seu Curso</h2>
      <p>Você está indo bem! Continue assim!</p>
      </a>
    </div>
  </div>
  <div class="progresso">
    <a href="score.html">
    <div class="circle-container">
      <svg width="150" height="150">
        <defs>
          <linearGradient id="gradiente" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#00ffe1" />
            <stop offset="100%" stop-color="#00ff88" />
          </linearGradient>
        </defs>
        <circle class="bg-circle" r="65" cx="75" cy="75" />
        <circle class="progress-ring__circle" r="65" cx="75" cy="75" />
      </svg>
      <div class="progress-text" id="score-text">0%</div>
    </div>
  
    <div class="info-texto">
      <h2>Seu Curso</h2>
      <p>Você está indo bem! Continue assim!</p>
      </a>
    </div>
  </div>
</div>
     
      <div class="meus-cursos">
        <a href="cursos.html">
        <h1>Meus Cursos</h1>
        <p>Aqui você encontra todos os cursos que está matriculado.
          Continue de onde parou, avance no seu ritmo e acompanhe seu progresso em tempo real.</p>
        </a>
      </div>

      <div class="meus-cursos">
        <a href="agenda.html">
        <h1>Agenda</h1>
        <p>Veja aqui os próximos eventos, aulas agendadas e prazos importantes.
          Fique por dentro da sua rotina de estudos e não perca nenhuma atividade.</p>
        </a>
      </div>
  
        <section class="recomendacoes">

    <!-- outros cards -->
     <div class="card-carrossel">
  <div class="card">
    <h3>Lógica de Programação</h3>
    <span>Nível: Iniciante</span>
    <button>Ver Curso</button>
  </div>
  <div class="card">
    <h3>Eletrônica Básica</h3>
    <span>Nível: Intermediário</span>
    <button>Ver Curso</button>
  </div>
  <div class="card">
    <h3>Python do Zero</h3>
    <span>Nível: Iniciante</span>
    <button>Ver Curso</button>
  </div>
  <!-- Adicione mais cards aqui -->
   <div class="card">
    <h3>JavaScript Avançado</h3>
    <span>Nível: Avançado</span>
    <button>Ver Curso</button>
   </div>
  <div class="card">
    <h3>Desenvolvimento Web</h3>
    <span>Nível: Intermediário</span>
    <button>Ver Curso</button>
  </div>
  <div class="card">
    <h3>Banco de Dados SQL</h3>
    <span>Nível: Intermediário</span>
    <button>Ver Curso</button>
    </div>
  <div class="card">
    <h3>Machine Learning</h3>
    <span>Nível: Avançado</span>
    <button>Ver Curso</button>
    </div>
</div>

  </div>
</section>

   <section class="ia-placeholder">
  <h2>Assistente Inteligente</h2>
  <p>Em breve, você poderá contar com a IA do NevEdu para tirar dúvidas, revisar conteúdos e acelerar seus estudos.</p>
  <div class="ia-preview">
    <p class="ia-msg"><strong>🤖 NevIA:</strong> “Olá, Thiago! Como posso te ajudar nos estudos hoje?”</p>
    <input type="text" placeholder="Digite sua pergunta..." disabled>
  </div>
</section>

         <section class="avaliacoes">
            <div class="avaliacao-cliente">
               <h2>Avaliações NevEdu.</h2>
                <p>Veja o que nossos alunos estão dizendo sobre nós.</p>
                <div class="avaliacao">
                   <p>"O NevEdu mudou minha forma de aprender! As aulas são dinâmicas e o conteúdo é super atualizado."</p>
                   <span>- Maria Silva</span>
                    <p>"A plataforma é incrível! Consegui aprender muito mais rápido e de forma organizada."</p>
                   <span>- Eduardo Oliveira</span>
            </div>
         </section>

                <section class="comunidade-sect">
                <div class="comunidade-div">
                <h2>Nossa Comunidade</h2>
                <p>Aprender sozinho é difícil. Por isso, o NevEdu é mais do que uma plataforma — é um lugar onde estudantes e apaixonados por tecnologia se conectam, compartilham experiências e evoluem juntos.

Aqui, cada dúvida é bem-vinda, cada conquista é celebrada, e todo mundo tem voz.
Junte-se à nossa comunidade e descubra que estudar pode ser mais leve, humano e colaborativo.</p>
                </div>
                </section>

      <footer class="footer">
        <div class="footer-content">
        <p>Desenvolvido, pensado e planejado com ☕ e ❤️ por [NEV]Thi_ii</p>  <p>&copy; 2025 NevEdu. Todos os direitos reservados.</p>
          <ul class="footer-links">
            <li><a href="../templates/termos.html">Termos</a></li>
            <li><a href="#">Privacidade</a></li>
            <li><a href="https://wa.me/5561998889542">Contato</a></li>
          </ul>
        </div>
      </footer>
<script>
    const percent = 65; // muda esse valor pra o score real
  const circle = document.querySelector('.progress-ring__circle');
  const text = document.getElementById('score-text');

  const radius = 65;
  const circumference = 2 * Math.PI * radius;

  circle.style.strokeDasharray = `${circumference}`;
  const offset = circumference - (percent / 100) * circumference;
  circle.style.strokeDashoffset = offset;

  text.textContent = `${percent}%`;

  
  const botao = document.getElementById('modo-toggle');
  const body = document.body;

  // Ativar se tiver salvo no localStorage
  if (localStorage.getItem('modo') === 'escuro') {
    body.classList.add('dark-mode');
    botao.textContent = '☀️ Modo Claro';
  }

  botao.addEventListener('click', () => {
    body.classList.toggle('dark-mode');
    const modoAtual = body.classList.contains('dark-mode') ? 'escuro' : 'claro';
    localStorage.setItem('modo', modoAtual);
    botao.textContent = modoAtual === 'escuro' ? '☀️ Modo Claro' : '🌙 Modo Escuro';
  });
  document.addEventListener('DOMContentLoaded', () => {
  const toggleBtn = document.getElementById('menu-toggle');
  const sideMenu = document.getElementById('side-menu');

  toggleBtn.addEventListener('click', () => {
    if (sideMenu.style.left === '0px') {
      sideMenu.style.left = '-250px';
    } else {
      sideMenu.style.left = '0px';
    }
  });
});
    // Captura erros de JavaScript
    window.onerror = function (message, source, lineno, colno, error) {
        console.error("Erro detectado:", message, source, lineno, colno, error);
        window.location.href = "/templates/erro.html"; // Redireciona para a página de erro
    };

    // Captura erros de rede (como falta de internet)
    window.addEventListener("offline", function () {
        alert("Você está offline. Redirecionando para a página de erro.");
        window.location.href = "/templates/erro.html";
    });
</script>

</body>
</html>